<div class="card-container">
  <h1 x-large class="sample-content">Your Content Here</h1>

  <md-toolbar color="primary">
    Angular Material 2 App
  </md-toolbar>
<div class="container bg-info">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="well">
        <button md-button class="test">Basic Button</button>
        <button md-raised-button>Raised Button</button>

        <md-slide-toggle>Slide Toggle</md-slide-toggle>
        <button md-ripple md-raised-button [md-menu-trigger-for]="m">OPEN</button>

        <md-menu #m="mdMenu">
          <a md-menu-item>one</a>
          <a md-menu-item>two</a>
        </md-menu>
      </div>
    </div>
  </div>
</div>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

</div>
